inputs/*
.nextflow*
fwd_pcr_out
oligo.oligo
pcr_summary/
rev_pcr_out/
unique_contig_summary/
work
post_pcr/
READ_ME_FOR_BEN
krona_input/
krona*
taxonomy_tables
testing_ark
testing_awk
figures
18S.phylogenetic.tree
script_resources.vscode
.vscode
script_resources
mapping
tables
TARA_PACIFIC_CDIV_18S_v1/
hans_18S/tpac_metab_coral_R1.fasta.gz
hans_18S/tpac_metab_coral_R2.fasta.gz
TARA_PACIFIC_CDIV_18S_v1/.DS_Store
TARA_PACIFIC_CDIV_18S_v1.zip
ecotax_upload_pics_and_tsv
