inputs/*
.nextflow*
fwd_pcr_out
oligo.oligo
pcr_summary/
rev_pcr_out/
unique_contig_summary/
work
post_pcr/
READ_ME_FOR_BEN
krona_input/
krona*
taxonomy_tables
testing_ark
testing_awk
figures
18S.phylogenetic.tree
script_resources.vscode
.vscode
script_resources
