executor{
    cpus=200
    memory = '800 GB'
}

params{
    tmp_parent_dir = "/share/temp_scratch_humebc"
    silva_db_path = "/home/humebc/mmseqs_silva/SILVA_seqTaxDB"
    nt_db_path = "/home/humebc/nt/nt.fnaDB"
    nt_18S_path = "/home/humebc/nt_18S/18S_xml/18S_nt.sequenceDB"
}

profiles{
    docker {
        docker.enabled = true
    }
    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
    }
}